.footer {
  height: 30rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  li {
    list-style: none;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: rgb(24, 23, 23);

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
